- name: Commit and push docs
  env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  run: |
    git config user.name "github-actions"
    git config user.email "github-actions@github.com"
    git add docs
    git commit -m "Auto build Hugo site" || echo "No changes to commit"
    git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}.git